
@keyframes slidein {
	from {
		margin-left: 100%;
		width: 200%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}

	75% {
		font-size: 200%;
		margin-left: 25%;
		width: 150%;
	}
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 200%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}

	75% {
		font-size: 200%;
		margin-left: 25%;
		width: 150%;
	}
}