

//boton productos e index//
div {
	  button{
	     .btnvermas {
	      background-color:#d85386 ;
	      color:beige ;
	      padding: 10px;
	      text-align: center; 
         }  
    }
	h1{
	   .titulo1{
			animation-delay: initial;
			color: hsl(204, 62%, 26%);
			text-shadow: 4px 4px 3px #77f;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			font-size: 10fr;
			text-align:center;
			font-weight:bold;
		}
		h5{		
			.titulo2{
				color: hsl(204, 62%, 26%);
				text-shadow: 4px 4px 3px #77f;
				font-size: 5fr;
				text-align:center;
				font-weight:bold;
			}	
		}
	}
}		

	
	.header-nos {
		padding-top: 50px;
		background-image: url("../imagenes/backgroundHeader.jpg");
		background-size: cover;
		background-position-x: center;
		text-align: center; 
		 p {
		  margin: 20px;
		  text-align: justify;
		  font-size: medium;
		}

	}

.logo{  
    padding-bottom: 25fr; 
    background: url("../imagenes/fondoHead.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo img{
    background-position:center;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-self: flex-start;
    height: 10vh;
    width: auto;

 }

 .card-img {
	 .card-img-bottom {
  		.card-img-top {
	 	border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
}}}