fieldset legend{
    padding: 20px;
    font-size:xx-large;
    font-family:Arial, 'Helvetica', sans-serif ;
    font-style: italic;
    
}
.container-fluid{
    text-align:center; 
    margin: auto;
}

.cambioletra {
    font-style: italic;
    font-weight: 100;
}


// 	h2 {
// 		font-family: 'Permanent Marker', cursive;
// 		color: #b7094c;
// 		font-size: 34px;
// 		height: 8rem;
// 		margin-top: 2rem;
// 	}


// video .videomp4 {
	    
// 		width: 80vw;
// 		height: 50vh;
// }
