
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa:'Times New Roman', Times, serif;
$btn-hover-bg-shade-amount: 15%;
$card-border-radius: 50%;



