$black-color: rgb(36, 34, 35);
$white-color:rgb(252, 220, 232);
$violet-color: rgb(145, 152, 250);
$pink-color: rgb(204, 42, 177);

$transition-collapse: height .35s ease;
$transition-collapse-width: width .35s ease;

$color-primario: #55A;
$color-secundario: #6B6;
$color-texto: #666;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa:'Times New Roman', Times, serif;
$btn-hover-bg-shade-amount: 15%;
$card-border-radius:  $border-radius;