@import "contacto";
@import "galeria";
@import "estilos-generales";
@import "productos";
@import "nosotros";
@import "index";
@import "talleres";
@import "variables";
@import "animaciones";
@import "footer";
@import "cards";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}





body {
	overflow-x: hidden;
	background-color: rgba(255, 182, 227, 0.877);
	section {
		.header-nos {
			h3 {
				text-align: center;
				margin: auto;
				font-size: xx-large;
			}
		}
	}
}



a {
	&:any-link {
		border: none;
	}

	&:-webkit-any-link {
		border: none;
	}
}
.headerCarrousel{
	margin-top: 48px;
}
.header-image {
	margin-top: 50px;
	padding-top: 100px;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background-image: url("../imagenes/backgroundHeader.jpg");
	background-size: cover;
	background-position-x: center;
	transition: all 2s;
	animation-direction: normal;
	--animate-duration: 2s;
}
.titulo {
	animation-direction: normal;
	--animate-duration: 2s;
	animation-duration: 3s;
	animation-name: initial;
}
.titulo1 {
	color: hsl(204, 62%, 26%);
	text-shadow: 4px 4px 3px #77f;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 40px;
	text-align: center;
	width: 100%;
	text-justify: newspaper;
	font-weight: bold;
}
.titulo2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: hsl(204, 62%, 26%);
	text-shadow: 4px 4px 3px #77f;
	font-size: 20px;
	text-align: center;
	width: 100%;
	text-justify: newspaper;
	font-weight: bold;
}

.logo {
	img {
		display: flex;
		flex-direction: row;
		width: 20vw;
		height: auto;
		padding-left: 25px;
		font-weight: bold;
	}
}
main {
	width: 100vw;
	height: 100vw;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(1fr, 1fr);
	grid-template-columns: repeat(1fr, 1fr);	
}
.titulo_Seccion {		
	padding: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', " Calibri ", 'Trebuchet MS', sans-serif;
	color: hsl(204, 62%, 26%);
	font-size: 15px;
	text-align: center;
	width: 100%;
	text-justify: newspaper;
	font-weight: bold;
	background-color: #cf32ba3a;
}

.container-index {
	display: grid;
	width: 750px;
	height: 600px;
	

p .subrayadoaroma{
	text-decoration:underline;
	text-decoration-line: underline;
    text-decoration-style: wavy;
	text-decoration-color: #684beb;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(100, 41, 236);
}

.header-nosotros {
	padding-top: 50px;
	background-image: url("../imagenes/backgroundHeader.jpg");
	background-size: cover;
	background-position-x: center;
	text-align: center;
}
.contacto {
	background-image: url(../imagenes/contactanos.jpg);
	background-position-x: center;
	background-size: 100vw;
	background-attachment: fixed;
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
	   width: 450px;
	   margin: auto;
	   background: rgba(66, 61, 61, 0.4);
	   padding: 10 px 20 px;
	   box-sizing: border-box;
	   margin-top: 20 px;
	   border-radius: 7px;
	   -webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	   -ms-border-radius: 7px;
	   -o-border-radius: 7px;
    label {
		   margin: 5px;
		   width: 70%;
		   text-align: center;
		   align-content: center;
	     fieldset {
		          padding: 20px;
		          margin-bottom: 30px;
		          box-sizing: border-box;
		          border-radius: 10px;
		          width: 100%;
		          display: flex;
		          flex-direction: column;
		          align-items: center;
		          background-color: rgba(155, 6, 88, 0.151);
		 }
	}
}
.contact {
	padding: 60px;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
input {
	    width: 100%;
	    margin-bottom: 30px;
	    padding: 7px;
	    box-sizing: border-box;
	    font-size: 17px;
	    display: flex;
	    flex: content;
	    border: 3px solid grey;
	    border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -o-border-radius: 3px;
	&:-webkit-autofill {
		       border: 3px solid blue;
	   &:autofill {
		         border: 3px solid blue;
	   }
   }
}
textarea {
	width: 100%;
	margin-bottom: 30px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	display: flex;
	flex: content;
	border: 3px solid grey;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton {
	background: #c4537e;
	color: beige;
	padding: 20px;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}
.header-nos {
	padding-top: 50px;
	background-image: url("../imagenes/backgroundHeader.jpg");
	background-size: cover;
	background-position-x: center;
	text-align: center;
}
section.header-nos {
	p {
		margin: 20px;
		text-align: justify;
		font-size: medium;
	}
}
#logo_nosotros {
	width: 50vw;
	padding-bottom: 20px;
	filter: opacity(65%);
}
section {
	iframe{
		display: block;
		margin: auto;
		text-align: center;
		width: 80vw;
		height: 50vh;
	    h3 {
		    padding-top: 50px;
		    text-align: center;
		    font-size: x-large;
		    margin: auto;
		    margin-bottom: 50px;
	        p {
		         font-family: 'Hurricane', cursive;
		         text-align: center;
		         font-size: medium;
		         margin: 50px;
	        }
        }
	}	
}
.containervideo {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
	width: 100%;
	iframe {
		margin-right: 2rem;
		margin-top: 1rem;
		height: 300px;
		width: 300px;
		box-shadow: 5px 5px 1px 2px #5ed9f2;
	   h2 {
		   font-family: 'Permanent Marker', cursive;
		   color: #81455c;
		   font-size: 34px;
		   height: 8rem;
		   margin-top: 2rem;
	    }
    } 
}
.container {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 3fr 1.1fr 1fr;
	grid-template-rows: 0.8fr 0.9fr 1.3fr;
	grid-auto-columns: 10fr 10fr;
	gap: 0px 0px;
	grid-auto-flow: row dense;
	justify-content: space-evenly;
	grid-template-areas: 
	"chocolate pochoclos"
	"cookies cafe"
	"cookies sandiaymelon"
	"chocolate milflores"
	"chocolate cookies";
	width: 73%;
	height: 73%;
	margin: 0;
	padding: 0;
}

	

fieldset {
	legend {
		padding: 20px;
		font-size: xx-large;
		font-family: Arial, 'Helvetica', sans-serif;
		font-style: italic;
		font-display: calc(10xp 5xp 100%);
	}
}
.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}
.transition-soft-slow {
	-webkit-transition: all 5.7s ease;
	-moz-transition: all 5.7s ease;
	-ms-transition: all 5.7s ease;
	-o-transition: all 5.7s ease;
	transition: all 5.7s ease;
}
.made_by {
	font-style: italic;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
	text-align: center;
}
//Galeria//
.galeria-image {
	width: 100%;
	height: auto;
	line-height: 0;
	overflow: hidden;
	img {
		filter: blur(0px);
		transition: filter 0.3s ease-in;
		transform: scale(1.1);
	}
}
.galeriatitulo {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}
.galeria-listing {
	          position: relative;
	          top: auto;
	 &:hover {

		.galeria-title {
			        opacity: 1;
		    .galeria-image {
			    img {
				    filter: blur(2px);
				    -webkit-filter: blur(2px);
			    }
		    }
	    }
    }
}
.galeria-title {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .5s;
	background: rgba(90, 0, 10, 0.4);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (hover: none) {
	 .galeria-title {
		       opacity: 1;
		       font-weight: bold;
		       z-index: 1;
		       position: absolute;
		       display: flex;
		       align-content: center;
		       justify-content: center;
	    .galeria-image {
		    img {
			     filter: blur(2px);
			     -webkit-filter: blur(2px);
		    }
	    }
	}
}
@media all and (max-width: 360px) {z
	main {
		grid-template-rows: repeat(6, 2fr);
	    .footer {
		      display: flex;
		      flex-wrap: wrap;
		      justify-content: flex-end;
		      column-gap: 10px;
		      width: 5fr;
		      height: 5fr;
	      
    }
}
@media screen and (max-Widht: 480px) {
	main {
		grid-template-rows: repeat(6, 2fr);
	}
	
	}
	form {
		width: 100%;
	}
	@media screen and (max-width:425px) {
		* {
			font-size: 1em;
		}
	}

@media screen and (max-Widht: 720px) {
	main {
		grid-template-rows: repeat(6, 2fr);
	}
	footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		column-gap: 10px;
		width: 5fr;
		height: 5fr;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;
	}
}
}}	