@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
#consultas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78vh;
  padding: 2vh;
}

.consultas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 40vh;
}

.contacto {
  background-image: url(../imagenes/contactanos.jpg);
  background-position-x: center;
  background-size: 100vw;
  background-attachment: fixed;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(66, 61, 61, 0.4);
  padding: 10 px 20 px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20 px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

form label {
  margin: 5px;
  width: 70%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact {
  padding: 60px;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

form label {
  margin: 5px;
  width: 70%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

form fieldset {
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(155, 6, 88, 0.151);
}

input, textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  border: 3px solid grey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input:-webkit-autofill {
  border: 3px solid blue;
}

input:autofill {
  border: 3px solid blue;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #b7094c;
  color: beige;
  padding: 20px;
  text-align: center;
}

#boton:hover {
  cursor: pointer;
}

.galeria-image {
  width: 100%;
  height: auto;
  line-height: 0;
  overflow: hidden;
}

.galeria-image img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.galeriatitulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.galeria-listing {
  position: relative;
  top: auto;
}

.galeria-listing:hover .galeria-title {
  opacity: 1;
}

.galeria-listing:hover .galeria-image img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.galeria-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: rgba(90, 0, 10, 0.4);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.btnvermas {
  background-color: #e062e0;
}

.header-nos {
  padding-top: 50px;
  background-image: url("../imagenes/backgroundHeader.jpg");
  background-size: cover;
  background-position-x: center;
  text-align: center;
}

section.header-nos p {
  margin: 20px;
  text-align: justify;
  font-size: medium;
}

#logo_nosotros {
  width: 50vw;
  padding-bottom: 20px;
  -webkit-filter: opacity(65%);
          filter: opacity(65%);
}

#logo_nosotros section iframe {
  display: block;
  margin: auto;
  text-align: center;
  width: 80vw;
  height: 50vh;
}

#logo_nosotros section iframe h3 {
  padding-top: 50px;
  text-align: center;
  font-size: x-large;
  margin: auto;
  margin-bottom: 50px;
}

#logo_nosotros section iframe h3 p {
  font-family: 'Hurricane', cursive;
  text-align: center;
  font-size: medium;
  margin: 50px;
}

.titulo {
  -webkit-animation-direction: normal;
          animation-direction: normal;
  --animate-duration: 2s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: initial;
          animation-name: initial;
}

.header-image {
  -webkit-animation-direction: normal;
          animation-direction: normal;
  --animate-duration: 2s;
}

.titulo1 {
  color: #194b6b;
  text-shadow: 4px 4px 3px #77f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-align: center;
  width: 100%;
  text-justify: newspaper;
  font-weight: bold;
}

.titulo2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #194b6b;
  text-shadow: 4px 4px 3px #77f;
  font-size: 20px;
  text-align: center;
  width: 100%;
  text-justify: newspaper;
  font-weight: bold;
}

.logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30vw;
  height: auto;
  padding-bottom: 25px;
  font-weight: bold;
}

main {
  width: 100vw;
  height: 100vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1fr];
      grid-template-rows: repeat(1fr, 1fr);
  -ms-grid-columns: (1fr)[1fr];
      grid-template-columns: repeat(1fr, 1fr);
}

.titulo_Seccion {
  margin-top: 30px;
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT'," Calibri ", 'Trebuchet MS', sans-serif;
  color: #194b6b;
  font-size: 15px;
  text-align: center;
  width: 100%;
  text-justify: newspaper;
  font-weight: bold;
  background-color: #cf32ba3a;
}

.section-card_title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  grid-area: "title, title";
  color: #0e0e55;
}

.container-index {
  display: -ms-grid;
  display: grid;
  width: 750px;
  height: 600px;
  -ms-grid-columns: 200px 1fr 1fr;
      grid-template-columns: 200px 1fr 1fr;
  -ms-grid-rows: 80px 1fr 1fr 100px;
      grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
      grid-template-areas: "header header header" "content-1 content-2  content-3" " content-4 content-5 content-6" "footer footer footer";
}

.section-card_text p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.section-card_image img {
  width: 50vw;
  border-radius: 50%;
  -ms-grid-columns: 200px 1fr 1fr;
      grid-template-columns: 200px 1fr 1fr;
  -ms-grid-rows: 80px 1fr 1fr 100px;
      grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
      grid-template-areas: "content-1, content-1" "content-2, content-3";
  border-style: solid;
  border-width: 7px;
  border-color: rgba(62, 199, 199, 0.432);
  filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
  border-style: solid;
  border-width: 1px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
}

.content-1 {
  grid-area: "content-1";
}

.content-2 {
  grid-area: "content-2";
}

.content-3 {
  grid-area: "content-3";
}

.content-4 {
  grid-area: "content-4";
}

.content-5 {
  grid-area: "content-5";
}

.content-6 {
  grid-area: "content-6";
}

.btnvermas {
  background-color: #e062e0;
}

fieldset legend {
  padding: 20px;
  font-size: xx-large;
  font-family: Arial, 'Helvetica', sans-serif;
  font-style: italic;
  font-display: calc(10xp 5xp 100%);
}

.container-fluid {
  text-align: center;
  margin: auto;
}

#logo_talleres {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 50vw;
  filter: opacity(35%);
  -webkit-filter: opacity(35%);
}

.containervideo {
  background-color: #6a040f;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
}

.containervideo iframe {
  margin-right: 2rem;
  margin-top: 1rem;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 5px 5px 1px 2px #5ed9f2;
          box-shadow: 5px 5px 1px 2px #5ed9f2;
}

.containervideo h2 {
  font-family: 'Permanent Marker', cursive;
  color: #b7094c;
  font-size: 34px;
  height: 8rem;
  margin-top: 2rem;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }
}

/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover {
  /*
	* Animation variables
	*/
  /*
	* Elements settings
	*/
  /*
	* Keyframe loop
	*/
}

.anim-text-flow span,
.anim-text-flow-hover:hover span {
  -webkit-animation-name: anim-text-flow-keys;
          animation-name: anim-text-flow-keys;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes anim-text-flow-keys {
  0% {
    color: #72d65c;
  }
  5% {
    color: #5c64d6;
  }
  10% {
    color: #665cd6;
  }
  15% {
    color: #70d65c;
  }
  20% {
    color: #ab5cd6;
  }
  25% {
    color: #5c70d6;
  }
  30% {
    color: #5cd6a7;
  }
  35% {
    color: #d65c78;
  }
  40% {
    color: #bed65c;
  }
  45% {
    color: #5cd668;
  }
  50% {
    color: #5cc0d6;
  }
  55% {
    color: #785cd6;
  }
  60% {
    color: #5ca5d6;
  }
  65% {
    color: #7a5cd6;
  }
  70% {
    color: #685cd6;
  }
  75% {
    color: #d65c91;
  }
  80% {
    color: #5ca1d6;
  }
  85% {
    color: #7e5cd6;
  }
  90% {
    color: #5cd6af;
  }
  95% {
    color: #d65cca;
  }
  100% {
    color: #bed65c;
  }
}

@keyframes anim-text-flow-keys {
  0% {
    color: #72d65c;
  }
  5% {
    color: #5c64d6;
  }
  10% {
    color: #665cd6;
  }
  15% {
    color: #70d65c;
  }
  20% {
    color: #ab5cd6;
  }
  25% {
    color: #5c70d6;
  }
  30% {
    color: #5cd6a7;
  }
  35% {
    color: #d65c78;
  }
  40% {
    color: #bed65c;
  }
  45% {
    color: #5cd668;
  }
  50% {
    color: #5cc0d6;
  }
  55% {
    color: #785cd6;
  }
  60% {
    color: #5ca5d6;
  }
  65% {
    color: #7a5cd6;
  }
  70% {
    color: #685cd6;
  }
  75% {
    color: #d65c91;
  }
  80% {
    color: #5ca1d6;
  }
  85% {
    color: #7e5cd6;
  }
  90% {
    color: #5cd6af;
  }
  95% {
    color: #d65cca;
  }
  100% {
    color: #bed65c;
  }
}

.anim-text-flow span:nth-of-type(1),
.anim-text-flow-hover:hover span:nth-of-type(1) {
  -webkit-animation-delay: -19.8s;
          animation-delay: -19.8s;
}

.anim-text-flow span:nth-of-type(2),
.anim-text-flow-hover:hover span:nth-of-type(2) {
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
}

.anim-text-flow span:nth-of-type(3),
.anim-text-flow-hover:hover span:nth-of-type(3) {
  -webkit-animation-delay: -19.4s;
          animation-delay: -19.4s;
}

.anim-text-flow span:nth-of-type(4),
.anim-text-flow-hover:hover span:nth-of-type(4) {
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
}

.anim-text-flow span:nth-of-type(5),
.anim-text-flow-hover:hover span:nth-of-type(5) {
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

.anim-text-flow span:nth-of-type(6),
.anim-text-flow-hover:hover span:nth-of-type(6) {
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
}

.anim-text-flow span:nth-of-type(7),
.anim-text-flow-hover:hover span:nth-of-type(7) {
  -webkit-animation-delay: -18.6s;
          animation-delay: -18.6s;
}

.anim-text-flow span:nth-of-type(8),
.anim-text-flow-hover:hover span:nth-of-type(8) {
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
}

.anim-text-flow span:nth-of-type(9),
.anim-text-flow-hover:hover span:nth-of-type(9) {
  -webkit-animation-delay: -18.2s;
          animation-delay: -18.2s;
}

.anim-text-flow span:nth-of-type(10),
.anim-text-flow-hover:hover span:nth-of-type(10) {
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
}

.anim-text-flow span:nth-of-type(11),
.anim-text-flow-hover:hover span:nth-of-type(11) {
  -webkit-animation-delay: -17.8s;
          animation-delay: -17.8s;
}

.anim-text-flow span:nth-of-type(12),
.anim-text-flow-hover:hover span:nth-of-type(12) {
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
}

.anim-text-flow span:nth-of-type(13),
.anim-text-flow-hover:hover span:nth-of-type(13) {
  -webkit-animation-delay: -17.4s;
          animation-delay: -17.4s;
}

.anim-text-flow span:nth-of-type(14),
.anim-text-flow-hover:hover span:nth-of-type(14) {
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
}

.anim-text-flow span:nth-of-type(15),
.anim-text-flow-hover:hover span:nth-of-type(15) {
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
}

.anim-text-flow span:nth-of-type(16),
.anim-text-flow-hover:hover span:nth-of-type(16) {
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
}

.anim-text-flow span:nth-of-type(17),
.anim-text-flow-hover:hover span:nth-of-type(17) {
  -webkit-animation-delay: -16.6s;
          animation-delay: -16.6s;
}

.anim-text-flow span:nth-of-type(18),
.anim-text-flow-hover:hover span:nth-of-type(18) {
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
}

.anim-text-flow span:nth-of-type(19),
.anim-text-flow-hover:hover span:nth-of-type(19) {
  -webkit-animation-delay: -16.2s;
          animation-delay: -16.2s;
}

.anim-text-flow span:nth-of-type(20),
.anim-text-flow-hover:hover span:nth-of-type(20) {
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
}

.anim-text-flow span:nth-of-type(21),
.anim-text-flow-hover:hover span:nth-of-type(21) {
  -webkit-animation-delay: -15.8s;
          animation-delay: -15.8s;
}

.anim-text-flow span:nth-of-type(22),
.anim-text-flow-hover:hover span:nth-of-type(22) {
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
}

.anim-text-flow span:nth-of-type(23),
.anim-text-flow-hover:hover span:nth-of-type(23) {
  -webkit-animation-delay: -15.4s;
          animation-delay: -15.4s;
}

.anim-text-flow span:nth-of-type(24),
.anim-text-flow-hover:hover span:nth-of-type(24) {
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
}

.anim-text-flow span:nth-of-type(25),
.anim-text-flow-hover:hover span:nth-of-type(25) {
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
}

.anim-text-flow span:nth-of-type(26),
.anim-text-flow-hover:hover span:nth-of-type(26) {
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
}

.anim-text-flow span:nth-of-type(27),
.anim-text-flow-hover:hover span:nth-of-type(27) {
  -webkit-animation-delay: -14.6s;
          animation-delay: -14.6s;
}

.anim-text-flow span:nth-of-type(28),
.anim-text-flow-hover:hover span:nth-of-type(28) {
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
}

.anim-text-flow span:nth-of-type(29),
.anim-text-flow-hover:hover span:nth-of-type(29) {
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
}

.anim-text-flow span:nth-of-type(30),
.anim-text-flow-hover:hover span:nth-of-type(30) {
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
}

.anim-text-flow span:nth-of-type(31),
.anim-text-flow-hover:hover span:nth-of-type(31) {
  -webkit-animation-delay: -13.8s;
          animation-delay: -13.8s;
}

.anim-text-flow span:nth-of-type(32),
.anim-text-flow-hover:hover span:nth-of-type(32) {
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
}

.anim-text-flow span:nth-of-type(33),
.anim-text-flow-hover:hover span:nth-of-type(33) {
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
}

.anim-text-flow span:nth-of-type(34),
.anim-text-flow-hover:hover span:nth-of-type(34) {
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
}

.anim-text-flow span:nth-of-type(35),
.anim-text-flow-hover:hover span:nth-of-type(35) {
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
}

.anim-text-flow span:nth-of-type(36),
.anim-text-flow-hover:hover span:nth-of-type(36) {
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
}

.anim-text-flow span:nth-of-type(37),
.anim-text-flow-hover:hover span:nth-of-type(37) {
  -webkit-animation-delay: -12.6s;
          animation-delay: -12.6s;
}

.anim-text-flow span:nth-of-type(38),
.anim-text-flow-hover:hover span:nth-of-type(38) {
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
}

.anim-text-flow span:nth-of-type(39),
.anim-text-flow-hover:hover span:nth-of-type(39) {
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
}

.anim-text-flow span:nth-of-type(40),
.anim-text-flow-hover:hover span:nth-of-type(40) {
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
}

.anim-text-flow span:nth-of-type(41),
.anim-text-flow-hover:hover span:nth-of-type(41) {
  -webkit-animation-delay: -11.8s;
          animation-delay: -11.8s;
}

.anim-text-flow span:nth-of-type(42),
.anim-text-flow-hover:hover span:nth-of-type(42) {
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
}

.anim-text-flow span:nth-of-type(43),
.anim-text-flow-hover:hover span:nth-of-type(43) {
  -webkit-animation-delay: -11.4s;
          animation-delay: -11.4s;
}

.anim-text-flow span:nth-of-type(44),
.anim-text-flow-hover:hover span:nth-of-type(44) {
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
}

.anim-text-flow span:nth-of-type(45),
.anim-text-flow-hover:hover span:nth-of-type(45) {
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
}

.anim-text-flow span:nth-of-type(46),
.anim-text-flow-hover:hover span:nth-of-type(46) {
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
}

.anim-text-flow span:nth-of-type(47),
.anim-text-flow-hover:hover span:nth-of-type(47) {
  -webkit-animation-delay: -10.6s;
          animation-delay: -10.6s;
}

.anim-text-flow span:nth-of-type(48),
.anim-text-flow-hover:hover span:nth-of-type(48) {
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
}

.anim-text-flow span:nth-of-type(49),
.anim-text-flow-hover:hover span:nth-of-type(49) {
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
}

.anim-text-flow span:nth-of-type(50),
.anim-text-flow-hover:hover span:nth-of-type(50) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.anim-text-flow span:nth-of-type(51),
.anim-text-flow-hover:hover span:nth-of-type(51) {
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
}

.anim-text-flow span:nth-of-type(52),
.anim-text-flow-hover:hover span:nth-of-type(52) {
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
}

.anim-text-flow span:nth-of-type(53),
.anim-text-flow-hover:hover span:nth-of-type(53) {
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
}

.anim-text-flow span:nth-of-type(54),
.anim-text-flow-hover:hover span:nth-of-type(54) {
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
}

.anim-text-flow span:nth-of-type(55),
.anim-text-flow-hover:hover span:nth-of-type(55) {
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.anim-text-flow span:nth-of-type(56),
.anim-text-flow-hover:hover span:nth-of-type(56) {
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
}

.anim-text-flow span:nth-of-type(57),
.anim-text-flow-hover:hover span:nth-of-type(57) {
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
}

.anim-text-flow span:nth-of-type(58),
.anim-text-flow-hover:hover span:nth-of-type(58) {
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
}

.anim-text-flow span:nth-of-type(59),
.anim-text-flow-hover:hover span:nth-of-type(59) {
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
}

.anim-text-flow span:nth-of-type(60),
.anim-text-flow-hover:hover span:nth-of-type(60) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.anim-text-flow span:nth-of-type(61),
.anim-text-flow-hover:hover span:nth-of-type(61) {
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
}

.anim-text-flow span:nth-of-type(62),
.anim-text-flow-hover:hover span:nth-of-type(62) {
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
}

.anim-text-flow span:nth-of-type(63),
.anim-text-flow-hover:hover span:nth-of-type(63) {
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
}

.anim-text-flow span:nth-of-type(64),
.anim-text-flow-hover:hover span:nth-of-type(64) {
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
}

.anim-text-flow span:nth-of-type(65),
.anim-text-flow-hover:hover span:nth-of-type(65) {
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.anim-text-flow span:nth-of-type(66),
.anim-text-flow-hover:hover span:nth-of-type(66) {
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
}

.anim-text-flow span:nth-of-type(67),
.anim-text-flow-hover:hover span:nth-of-type(67) {
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
}

.anim-text-flow span:nth-of-type(68),
.anim-text-flow-hover:hover span:nth-of-type(68) {
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
}

.anim-text-flow span:nth-of-type(69),
.anim-text-flow-hover:hover span:nth-of-type(69) {
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
}

.anim-text-flow span:nth-of-type(70),
.anim-text-flow-hover:hover span:nth-of-type(70) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.anim-text-flow span:nth-of-type(71),
.anim-text-flow-hover:hover span:nth-of-type(71) {
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
}

.anim-text-flow span:nth-of-type(72),
.anim-text-flow-hover:hover span:nth-of-type(72) {
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
}

.anim-text-flow span:nth-of-type(73),
.anim-text-flow-hover:hover span:nth-of-type(73) {
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
}

.anim-text-flow span:nth-of-type(74),
.anim-text-flow-hover:hover span:nth-of-type(74) {
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
}

.anim-text-flow span:nth-of-type(75),
.anim-text-flow-hover:hover span:nth-of-type(75) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.anim-text-flow span:nth-of-type(76),
.anim-text-flow-hover:hover span:nth-of-type(76) {
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
}

.anim-text-flow span:nth-of-type(77),
.anim-text-flow-hover:hover span:nth-of-type(77) {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}

.anim-text-flow span:nth-of-type(78),
.anim-text-flow-hover:hover span:nth-of-type(78) {
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
}

.anim-text-flow span:nth-of-type(79),
.anim-text-flow-hover:hover span:nth-of-type(79) {
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
}

.anim-text-flow span:nth-of-type(80),
.anim-text-flow-hover:hover span:nth-of-type(80) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.anim-text-flow span:nth-of-type(81),
.anim-text-flow-hover:hover span:nth-of-type(81) {
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
}

.anim-text-flow span:nth-of-type(82),
.anim-text-flow-hover:hover span:nth-of-type(82) {
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
}

.anim-text-flow span:nth-of-type(83),
.anim-text-flow-hover:hover span:nth-of-type(83) {
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
}

.anim-text-flow span:nth-of-type(84),
.anim-text-flow-hover:hover span:nth-of-type(84) {
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
}

.anim-text-flow span:nth-of-type(85),
.anim-text-flow-hover:hover span:nth-of-type(85) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.anim-text-flow span:nth-of-type(86),
.anim-text-flow-hover:hover span:nth-of-type(86) {
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}

.anim-text-flow span:nth-of-type(87),
.anim-text-flow-hover:hover span:nth-of-type(87) {
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}

.anim-text-flow span:nth-of-type(88),
.anim-text-flow-hover:hover span:nth-of-type(88) {
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.anim-text-flow span:nth-of-type(89),
.anim-text-flow-hover:hover span:nth-of-type(89) {
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}

.anim-text-flow span:nth-of-type(90),
.anim-text-flow-hover:hover span:nth-of-type(90) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.anim-text-flow span:nth-of-type(91),
.anim-text-flow-hover:hover span:nth-of-type(91) {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.anim-text-flow span:nth-of-type(92),
.anim-text-flow-hover:hover span:nth-of-type(92) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.anim-text-flow span:nth-of-type(93),
.anim-text-flow-hover:hover span:nth-of-type(93) {
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.anim-text-flow span:nth-of-type(94),
.anim-text-flow-hover:hover span:nth-of-type(94) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.anim-text-flow span:nth-of-type(95),
.anim-text-flow-hover:hover span:nth-of-type(95) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.anim-text-flow span:nth-of-type(96),
.anim-text-flow-hover:hover span:nth-of-type(96) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.anim-text-flow span:nth-of-type(97),
.anim-text-flow-hover:hover span:nth-of-type(97) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.anim-text-flow span:nth-of-type(98),
.anim-text-flow-hover:hover span:nth-of-type(98) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.anim-text-flow span:nth-of-type(99),
.anim-text-flow-hover:hover span:nth-of-type(99) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.anim-text-flow span:nth-of-type(100),
.anim-text-flow-hover:hover span:nth-of-type(100) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

body {
  background-color: #1a1a1a;
  color: #fefefe;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  line-height: 2;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.containernombre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.txtnav {
  display: block;
}

a {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #eee;
  font-size: 15px;
  line-height: 15px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.card .img-thumbnail {
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-style: none;
  border-width: 1px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
}

.card .img-thumbnail:hover {
  width: 110px;
  height: 110px;
}

.card .card-body {
  background-color: #5ed9f2a2;
  border-width: 1px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
}

body {
  overflow-x: hidden;
  background-color: rgba(255, 182, 227, 0.877);
}

body section .header-nos h3 {
  text-align: center;
  margin: auto;
  font-size: xx-large;
}

a:-webkit-any-link {
  border: none;
}

a:-moz-any-link {
  border: none;
}

a:any-link {
  border: none;
}

a:-webkit-any-link {
  border: none;
}

.headerCarrousel {
  margin-top: 48px;
}

.header-image {
  margin-top: 50px;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../imagenes/backgroundHeader.jpg");
  background-size: cover;
  background-position-x: center;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  --animate-duration: 2s;
}

.titulo {
  -webkit-animation-direction: normal;
          animation-direction: normal;
  --animate-duration: 2s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: initial;
          animation-name: initial;
}

.titulo1 {
  color: #194b6b;
  text-shadow: 4px 4px 3px #77f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-align: center;
  width: 100%;
  text-justify: newspaper;
  font-weight: bold;
}

.titulo2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #194b6b;
  text-shadow: 4px 4px 3px #77f;
  font-size: 20px;
  text-align: center;
  width: 100%;
  text-justify: newspaper;
  font-weight: bold;
}

.logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20vw;
  height: auto;
  padding-left: 25px;
  font-weight: bold;
}

main {
  width: 100vw;
  height: 100vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1fr];
      grid-template-rows: repeat(1fr, 1fr);
  -ms-grid-columns: (1fr)[1fr];
      grid-template-columns: repeat(1fr, 1fr);
}

.titulo_Seccion {
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', " Calibri ", 'Trebuchet MS', sans-serif;
  color: #194b6b;
  font-size: 15px;
  text-align: center;
  width: 100%;
  text-justify: newspaper;
  font-weight: bold;
  background-color: #cf32ba3a;
}

.section-card_title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  grid-area: "title, title";
  color: #0e0e55;
}

.card-img-top {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container-index {
  display: -ms-grid;
  display: grid;
  width: 750px;
  height: 600px;
}

p .subrayadoaroma {
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  -webkit-text-decoration-color: #684beb;
          text-decoration-color: #684beb;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: #6429ec;
          text-decoration-color: #6429ec;
}

footer {
  width: 100vw;
  margin-top: 100px;
  background-color: #d24792;
  background-size: cover;
  color: rgba(3, 0, 8, 0.63);
}

footer .container {
  display: -ms-grid;
  display: grid;
  grid-area: "footer";
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 5fr;
  height: 5fr;
  justify-content: center;
}

footer .container ul li {
  list-style-type: none;
}

footer .container ul li a {
  text-decoration: none;
}

footer .container ul li a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 20px;
  width: 40px;
}

.header-nosotros {
  padding-top: 50px;
  background-image: url("../imagenes/backgroundHeader.jpg");
  background-size: cover;
  background-position-x: center;
  text-align: center;
}

.contacto {
  background-image: url(../imagenes/contactanos.jpg);
  background-position-x: center;
  background-size: 100vw;
  background-attachment: fixed;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(66, 61, 61, 0.4);
  padding: 10 px 20 px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20 px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

form label {
  margin: 5px;
  width: 70%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

form label fieldset {
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(155, 6, 88, 0.151);
}

.contact {
  padding: 60px;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  border: 3px solid grey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input:-webkit-autofill {
  border: 3px solid blue;
}

input:-webkit-autofill:autofill {
  border: 3px solid blue;
}

textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  border: 3px solid grey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #c4537e;
  color: beige;
  padding: 20px;
  text-align: center;
}

#boton:hover {
  cursor: pointer;
}

.header-nos {
  padding-top: 50px;
  background-image: url("../imagenes/backgroundHeader.jpg");
  background-size: cover;
  background-position-x: center;
  text-align: center;
}

section.header-nos p {
  margin: 20px;
  text-align: justify;
  font-size: medium;
}

#logo_nosotros {
  width: 50vw;
  padding-bottom: 20px;
  -webkit-filter: opacity(65%);
          filter: opacity(65%);
}

section iframe {
  display: block;
  margin: auto;
  text-align: center;
  width: 80vw;
  height: 50vh;
}

section iframe h3 {
  padding-top: 50px;
  text-align: center;
  font-size: x-large;
  margin: auto;
  margin-bottom: 50px;
}

section iframe h3 p {
  font-family: 'Hurricane', cursive;
  text-align: center;
  font-size: medium;
  margin: 50px;
}

.containervideo {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
}

.containervideo iframe {
  margin-right: 2rem;
  margin-top: 1rem;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 5px 5px 1px 2px #5ed9f2;
          box-shadow: 5px 5px 1px 2px #5ed9f2;
}

.containervideo iframe h2 {
  font-family: 'Permanent Marker', cursive;
  color: #81455c;
  font-size: 34px;
  height: 8rem;
  margin-top: 2rem;
}

.container {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1.1fr 1fr;
      grid-template-columns: 3fr 1.1fr 1fr;
  -ms-grid-rows: 0.8fr 0.9fr 1.3fr;
      grid-template-rows: 0.8fr 0.9fr 1.3fr;
  grid-auto-columns: 10fr 10fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
      grid-template-areas: "chocolate pochoclos" "cookies cafe" "cookies sandiaymelon" "chocolate milflores" "chocolate cookies";
  width: 73%;
  height: 73%;
  margin: 0;
  padding: 0;
}

.pochoclos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pochoclos;
}

.sandiaymelon {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: sandiaymelon;
}

.cookies {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cookies;
}

.chocolate {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: chocolate;
}

.cookies1 {
  grid-area: cookies1;
}

.cafe {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cafe;
}

.milflores1 {
  grid-area: milflores1;
}

.milflores {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: milflores;
}

.chocolate1 {
  grid-area: chocolate1;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  padding-top: 10px;
  margin-top: 0;
}

.btn .btnvermas {
  background-color: #ecb6ec;
}

fieldset legend {
  padding: 20px;
  font-size: xx-large;
  font-family: Arial, 'Helvetica', sans-serif;
  font-style: italic;
  font-display: calc(10xp 5xp 100%);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.transition-soft-slow {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.made_by {
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  text-align: center;
}

.galeria-image {
  width: 100%;
  height: auto;
  line-height: 0;
  overflow: hidden;
}

.galeria-image img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.galeriatitulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.galeria-listing {
  position: relative;
  top: auto;
}

.galeria-listing:hover .galeria-title {
  opacity: 1;
}

.galeria-listing:hover .galeria-title .galeria-image img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.galeria-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: rgba(90, 0, 10, 0.4);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (hover: none) {
  .galeria-title {
    opacity: 1;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galeria-title .galeria-image img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
}

@media all and (max-width: 360px) {
  main {
    -ms-grid-rows: (2fr)[6];
        grid-template-rows: repeat(6, 2fr);
  }
  main .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    width: 5fr;
    height: 5fr;
  }
  main .footer .section-card {
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  main .footer .section-card .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "header" "main" "footer";
  }
}

@media screen and (max-Widht: 480px) {
  main {
    -ms-grid-rows: (2fr)[6];
        grid-template-rows: repeat(6, 2fr);
  }
  .section-card {
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "header" "main" "footer";
  }
  form {
    width: 100%;
  }
}

@media screen and (max-Widht: 480px) and (max-width: 425px) {
  * {
    font-size: 1em;
  }
}

@media screen and (max-Widht: 720px) {
  main {
    -ms-grid-rows: (2fr)[6];
        grid-template-rows: repeat(6, 2fr);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    width: 5fr;
    height: 5fr;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-card {
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .section-card:hover img {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
/*# sourceMappingURL=styles.css.map */