@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
section .header-nos {
  padding-top: 50px;
  background-image: url("../imagenes/backgroundHeader.jpg");
  background-size: cover;
  background-position-x: center;
  text-align: center;
}

section .header-nos p {
  margin: 20px;
  text-align: justify;
  font-size: medium;
}

#logo_nosotros {
  width: 50vw;
  padding-bottom: 20px;
  -webkit-filter: opacity(65%);
          filter: opacity(65%);
}

section iframe {
  display: block;
  margin: auto;
  text-align: center;
  width: 80vw;
  height: 50vh;
}

section iframe h3 {
  padding-top: 50px;
  text-align: center;
  font-size: x-large;
  margin: auto;
  margin-bottom: 50px;
}

section iframe h3 p {
  font-family: 'Hurricane', cursive;
  text-align: center;
  font-size: medium;
  margin: 50px;
}

#consultas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78vh;
  padding: 2vh;
}

.consultas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 40vh;
}

.contacto {
  background-image: url(../imagenes/contactanos.jpg);
  background-position-x: center;
  background-size: 100vw;
  background-attachment: fixed;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(66, 61, 61, 0.4);
  padding: 10 px 20 px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20 px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

form label {
  margin: 5px;
  width: 70%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact {
  padding: 60px;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

form fieldset {
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(155, 6, 88, 0.151);
}

input, textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  border: 3px solid grey;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input textarea, textarea textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

input:-webkit-autofill {
  border: 3px solid blue;
}

input:autofill {
  border: 3px solid blue;
}

#boton {
  background: #e64d87;
  color: beige;
  padding: 20px;
  text-align: center;
}

#boton:hover {
  cursor: pointer;
}

footer {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: auto;
  background-color: #B88BAD;
  background-size: cover;
  color: rgba(3, 0, 8, 0.63);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a img {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 20px;
  width: 40px;
}

footer .copyright {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline;
}

.img-thumbnail {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(250, 235, 215, 0);
  border-style: none;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  border-color: aliceblue;
}

/* Font */
/* Design */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #EF8D9C;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #27272700;
  border: #272727;
}

.cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.card {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-color: #27272700;
}

.card_content {
  padding: 1rem;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, #EF8D9C), to(#FFC39E));
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.modal {
  background-color: rgba(0, 255, 255, 0.137);
  text-align: center;
}

.modal-header {
  text-align: center;
  background-color: rgba(0, 255, 255, 0.233);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: rgba(255, 182, 227, 0.877);
  border: 20px;
  border-color: rgba(0, 0, 0, 0);
}

body section .header-nos h3 {
  text-align: center;
  margin: auto;
  font-size: xx-large;
}

header nav {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-right: 20px;
  text-decoration: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li:hover {
  background-color: #2b649659;
}

header nav ul li:hover a {
  text-decoration: none;
}

#iconNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#iconNavbar a:-webkit-any-link {
  border: none;
  text-decoration: none;
}

#iconNavbar a:-moz-any-link {
  border: none;
  text-decoration: none;
}

#iconNavbar a:any-link {
  border: none;
  text-decoration: none;
}

#iconNavbar a:-webkit-any-link {
  border: none;
  text-decoration: none;
}

/*animacion header productos*/
.transition-soft-slow {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

blockquote {
  background-color: #ff80ff;
  color: #000000;
}

div button .btnvermas {
  background-color: #d85386;
  color: beige;
  padding: 10px;
  text-align: center;
}

div h1 .titulo1 {
  -webkit-animation-delay: initial;
          animation-delay: initial;
  color: #194b6b;
  text-shadow: 4px 4px 3px #77f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10fr;
  text-align: center;
  font-weight: bold;
}

div h1 h5 .titulo2 {
  color: #194b6b;
  text-shadow: 4px 4px 3px #77f;
  font-size: 5fr;
  text-align: center;
  font-weight: bold;
}

.header-nos {
  padding-top: 50px;
  background-image: url("../imagenes/backgroundHeader.jpg");
  background-size: cover;
  background-position-x: center;
  text-align: center;
}

.header-nos p {
  margin: 20px;
  text-align: justify;
  font-size: medium;
}

.logo {
  padding-bottom: 25fr;
  background: url("../imagenes/fondoHead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  background-position: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem;
  justify-self: flex-start;
  height: 10vh;
  width: auto;
}

.card-img .card-img-bottom .card-img-top {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

fieldset legend {
  padding: 20px;
  font-size: xx-large;
  font-family: Arial, 'Helvetica', sans-serif;
  font-style: italic;
}

.container-fluid {
  text-align: center;
  margin: auto;
}

.cambioletra {
  font-style: italic;
  font-weight: 100;
}
/*# sourceMappingURL=styles.css.map */