/* Esto se usa para comentario*/

/*Sintaxis CSS-->

  selector{
	 propiedad1: valor;
	 propiedad2: valor;
	 propiedad3: valor;
    } 
    */

*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
}

body{
    background-color: rgb(241, 226, 231);

}
.contenedor {
	background:rgb(180, 91, 91);
	width:90%;
	max-width:1000px;
	margin:auto;
}
.Buscador{
    display: block;
    
}

.titulo1{
    animation-delay: initial;
    color: hsl(204, 62%, 26%);
    text-shadow: 4px 4px 3px #77f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10fr;
    text-align:center;
    font-weight:bold;
    }
.titulo2{
        color: hsl(204, 62%, 26%);
        text-shadow: 4px 4px 3px #77f;
        font-size: 5fr;
        text-align:center;
        font-weight:bold;
}


.logo{  
    padding-bottom: 25fr; 
    background: url("../imagenes/fondoHead.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo img{
    background-position:center;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-self: flex-start;
    height: 10vh;
    width: auto;

}
.transition-soft-slow {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
footer{
    display: grid;
    grid-row: inherit;
    border-bottom: 15px solid rgb(196, 120, 120);
    position: relative;
    image-orientation: flip;
    shape-image-threshold: initial;
    text-align:left;
    background: -moz-linear-gradient(right,rgb(236, 173, 173),rgb(240, 219, 180),rgb(235, 235, 160),rgb(216, 186, 238),rgb(230, 165, 230));
    background: -webkit-linear-gradient(right,rgb(228, 160, 160),rgb(238, 207, 150),rgb(240, 240, 146),rgb(206, 171, 231),rgb(243, 158, 243));
    background: -moz-radial-gradient(right,rgb(252, 198, 198),rgb(236, 227, 209),rgb(221, 221, 157),rgb(218, 191, 236),rgb(235, 171, 235));
    background: radial-gradient(right,rgb(231, 167, 167),rgb(231, 208, 164),rgb(236, 236, 136),rgb(197, 141, 238),rgb(231, 147, 231));
    background: linear-gradient(right,rgb(235, 196, 196),rgb(241, 215, 166),rgb(241, 241, 157),rgb(210, 177, 235),rgb(221, 146, 221));
}
footer img {
    display: inline-block;
    flex-direction: var(--animate-duration);
    width: 5rem;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
@media screen and (max-width: 480px)
* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
    

.menu{  
    font-family:'Caveat', cursive;
    padding: 15px;
    text-decoration: none;
    background-color: rgb(226, 170, 170);
    font-size: 15px;    
    border: 10px;
    border-bottom: 1px solid rgb(196, 120, 120);  
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(248, 212, 212);
}

li {
   animation-delay:inherit;
   writing-mode: horizontal-tb;
   text-align:center;
   display: block;
   flex: 0.5;
   background-color: rgb(230, 117, 179);
   color: rgb(245, 217, 217);
   border: 3px solid;
   padding: 0.5rem;
   text-align: center;
   text-decoration: none;
   
    
  
}
a:hover,
a::first-line {
  background-color: rgb(240, 218, 218);
  color: rgb(70, 23, 39);
  display: flex;
  gap: 0.5rem;
 }
.contenedor {
    display: flex;
    flex-direction:row;
    max-height: 35rem;
    justify-content: space-between;
    align-items: stretch;
}
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


/* Design */


html {
  background-color: #ecf9ff;
}

body {
  color: #802f2f;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0.5rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

.tituloproductos {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-style:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
  

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(243, 230, 230, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(151, 239, 245, 0.12);
}

.aroma_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .aroma_item {
    width: 30%;
  }
    *{
        font-size: 1em;
    }
    .aroma_item{
        margin-left: 0;
    }
    .aroma_content{
        height: 20vh;
    }
    .aroma_texto{
        font-size: 2em;     
    }
    . {
        text-align: justify;
        font-size: 0.1em;
    }
}
/*FLEX PRODUCTOS*/
.aromas{
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: stretch;
}

.aroma {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
.aroma_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #d37381 40%, #FFC39E 100%);
}
.aroma{
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  color: rgb(35, 89, 94);

}
.aroma_texto {
    color: #01050a;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
.redes{
    font-family:cursive;
    color: rgb(166, 192, 18);
    position: relative;
    left: 10px;
    margin: 0;
    width: 230px;
    height: 16rem;
}
    
.carrouselfotos{
    margin: 50px;    
    border-color: #d5d5d5;
    border-style: solid;    
    right: 30px;
    bottom: 30px;
    padding: 50px;        
    display:contents;  
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
} 
h3{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(41, 77, 80);
}

/* le agregue */
html {
    background-color: rgb(199, 201, 241);
    
}
a{
    color:rgb(106, 32, 124);
    cursor:pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-decoration:none;
}

/*contacto*/
.datosdecontacto .nosotros{
    padding: 10rem;
    margin: 0fr;
    align-content: center;


}
.contacto{
    display: grid;
    width: 60%;
    grid-row: inherit;
    align-content: center;
}
/*nosotros*/
.nosotros{ 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 20px;
    text-align: justify;
    align-content: center;

}
.parrafo {
    font-size: 1.9em;
    text-align: justify;
    display:inline-block;
    margin-block-start: 1.5em;
    margin-block-end: 1.6em;
    margin-inline-start: 100px;
    margin-inline-end: 20px;
    box-sizing: border-box;
    font-family: 'Hurricane', cursive;
}
/*productos*/
.textodefotos {
    display: ruby-base-container;
    flex-grow: unset;
    text-transform: uppercase;
    font-size: 10px;
    margin: 20px;
    color: rgb(223, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ubicacion*/
.ubdescripcion{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 20px;
    text-align: justify;
    align-content: center;
}

.ubicacion{
    font-size: 1.9em;
    text-align: justify;
    display:inline-block;
    margin-block-start: 1.5em;
    margin-block-end: 1.6em;
    margin-inline-start: 100px;
    margin-inline-end: 20px;
    box-sizing: border-box;
    font-family: 'Hurricane', cursive;
}
   /*FOOTER*/  

.parrafo_violeta{
    font-style: italic;
    width: 100%;
    vertical-align: middle;         
    color: rgba(2, 14, 37, 0.808);
    padding: 30px;   
      
}

footer p{
display: flex;
align-content:stretch;
flex-wrap: wrap;
width: 2rem;
border: 2px solid rgb(238, 44, 103);
border-radius: 8px;
padding: 5px;
}

.container {  display: grid;
    grid-template-columns: 1.1fr 1.1fr 1fr;
    grid-template-rows: 0.8fr 0.9fr 1.3fr;
    grid-auto-columns: 3fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    justify-content: space-evenly;
    grid-template-areas:
      "chocolate pochoclos cafe "
      "cookies1 sandiaymelon milflores1"
      "milflores chocolate1 cookies";
    width: 73%;
    height: 73%;
  }
  
  .pochoclos { grid-area: pochoclos; }
  
  .sandiaymelon { grid-area: sandiaymelon; }
  
  .cookies { grid-area: cookies; }
  
  .chocolate { grid-area: chocolate; }
  
  .cookies1 { grid-area: cookies1; }
  
  .cafe { grid-area: cafe; }
  
  .milflores1 { grid-area: milflores1; }
  
  .milflores { grid-area: milflores; }
  
  .chocolate1 { grid-area: chocolate1; }
  
  
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }



