*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;  
    color: rgba(3, 0, 8, 0.63); 
    position: sticky;
    top:0; 
    z-index: 100;   
}
header nav ul li:hover{
    background-color: #2b649659; 
}
/*texto del navbar*/
header nav ul {
    display: flex;       
    justify-content: space-evenly;
    column-gap: 20px;
    margin-right: 20px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;   
}
#iconNavbar{   
   display:flex;
}
nav{  
    font-family:'Caveat', cursive;
    padding: 15px;
    text-decoration: none;
    background-color: rgb(226, 170, 170);
    font-size: 15px;    
    border: 10px;
    border-bottom: 1px solid rgb(196, 120, 120);  
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(248, 212, 212);
}
/*cambio de color de los links*/
a:any-link {
    border: none; 
}
a:-webkit-any-link {
    border: none;
}
/* BOTONES DE INDEX, HOME*/
.button-shadowrose {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #f554da;
}
.button-shadowrose:hover {
  background-color: #f554da;
}
.button-shadowrose:active {
  top: 2px;
}
/*estilo de imagen de header y texto*/
.header-image{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-image: url("../imagenes/backgroundHeader.jpg");
    background-size:cover;
    background-position-x: center;
    transition: all 2s;
    -webkit-transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition:cubic-bezier(0.23, 1, 0.320, 1);
    -ms-transition:0.7s;
    -o-transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*texto de header y animaciones + producto*/
.titulo{
    animation-direction:normal;
    --animate-duration: 2s;
    animation-duration: 3s;
    animation-name:initial;
}
.header-image{
    animation-direction:normal;
    --animate-duration: 2s;
  }

.titulo1{
    color: hsl(204, 62%, 26%);
    text-shadow: 4px 4px 3px #77f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align:center;
    width: 100%; 
    text-justify: newspaper;
    font-weight:bold;
}
.titulo2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(204, 62%, 26%);
    text-shadow: 4px 4px 3px #77f;
    font-size: 20px;
    text-align:center;
    width: 100%; 
    text-justify: newspaper;
    font-weight:bold;
}
.logo img{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: auto;
    padding-bottom: 25px; 
    font-weight:bold;
}
main{
    width: 100vw;
    height: 100vw; 
    margin: auto;
    display: grid;
    grid-template-rows:repeat(1fr,1fr) ;
    grid-template-columns: repeat(1fr,1fr);
}
.titulo_Seccion{
    margin-top: 30px;
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT'," Calibri ", 'Trebuchet MS', sans-serif;
    color: hsl(204, 62%, 26%);    
    font-size: 15px;
    text-align:center;
    width: 100%; 
    text-justify: newspaper;
    font-weight:bold;
    background-color: #cf32ba3a;
}

 p .subrayadoaroma {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color:  #684beb;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-style: wavy;
	-moz-text-decoration-color: #684beb;
 -webkit-text-decoration-line: underline;
 -webkit-text-decoration-style: wavy;
 -webkit-text-decoration-color: rgb(100, 41, 236);
}
.section-card_title{
    display: grid;
    grid-template-rows: min-content;    
    grid-area: "title, title";  
    color: rgba(14, 14, 85, 55%);  
        
}


.container-index{
display: grid;
  width: 750px;
  height: 600px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas:
      "header header header"
      "content-1 content-2  content-3"
      " content-4 content-5 content-6"
      "footer footer footer";
}      
.section-card_text p {
    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 

} 
 .section-card_image img{
        width: 50vw;
        border-radius: 50%;
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: 80px 1fr 1fr 100px;
        grid-gap: 1rem;
        grid-template-areas:           
            "content-1, content-1"
            "content-2, content-3";
        border-style:solid;
        border-width: 7px;
        border-color: rgba(62, 199, 199, 0.432);
        filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
        border-style: solid;
        border-width: 1px;
        transition: all 2s;
        -webkit-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
}
.content-1 {
    grid-area: "content-1";
  }
  .content-2 {
    grid-area: "content-2";
  }
  .content-3 {
    grid-area: "content-3";
  }
  .content-4 {
    grid-area: "content-4";
  }
  .content-5 {
    grid-area: "content-5";
  }
  .content-6 {
    grid-area: "content-6";
  }
 
footer .container{
         display: grid;
        grid-area: "footer";
        grid-row: 4 / 5;
        grid-column: 1 / 4;
}
.section-card_image img :hover {
    width: 100px;
    height: 100px;
    transform: rotate(360deg);
}
/*----formulario de contacto-------*/
.header-nosotros{
    padding-top: 50px;
    background-image: url("../imagenes/backgroundHeader.jpg");
    background-size:cover;
    background-position-x: center; 
    text-align: center;     
}
/*--FORMULARIO DE CONTACTO--*/
.contacto{
    background-image: url(../imagenes/contactanos.jpg);
    background-position-x: center;
    background-size: 100vw ;
    background-attachment: fixed;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
        width:450px;
        margin: auto;
        background:rgba(66, 61, 61, 0.4);
        padding: 10 px 20 px;
        box-sizing: border-box;
        margin-top: 20 px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}
.contact {
    padding: 60px;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;   
}
form label {
    margin: 5px;
    width: 70%;
    text-align: center;
    align-content: center;
}
form fieldset {
    padding: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(155, 6, 88, 0.151);
}
input, textarea{
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    display: flex;
    flex:content;
    border: 3px solid grey;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
input:-webkit-autofill {
    border: 3px solid blue;
}
input:autofill {
    border: 3px solid blue;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background:#b7094c ;
    color:beige ;
    padding: 20px;
    text-align: center;   
}
#boton:hover{
    cursor: pointer;
}
/*----pagina nosotros----*/
.header-nos{
    padding-top: 50px;
    background-image: url("../imagenes/backgroundHeader.jpg");
    background-size:cover;
    background-position-x: center;  
    position: relative;
    display: inline-block;
    text-align: center;
}
body section .header-nos h3 {
    text-align: center;    
    margin: auto;
    font-size:xx-large;
}
section.header-nos p {
    margin: 20px;
    text-align: justify;
    font-size: medium;     
}
#logo_nosotros{ 
    position: absolute;
    width: 50vw;      
    filter: opacity(35%);
    -webkit-filter: opacity(35%);
}
section iframe{
    display: block;
    margin: auto;
    text-align: center;
    width: 80vw;
    height: 50vh;
}
/*palabras resaltadas de texto nosotros*/
span .resaltar{ 
    font-weight: bold; 
    font-style: italic;
  }
/*---VIDEOS--*/
.containervideo{
    background-color: #6a040f;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    width: 100%;
}
.containervideo iframe{
    margin-right: 2rem;
    margin-top: 1rem;
    height: 300px;
    width: 300px;
    box-shadow:5px 5px 1px 2px #5ed9f2; 
}
.containervideo h2{
    font-family: 'Permanent Marker', cursive;
    color: #b7094c;
    font-size: 34px;
    height: 8rem;
    margin-top: 2rem;
}
.container{
margin:0;
padding:0
}
.container {  
    display: grid;
    grid-template-columns: 3fr 1.1fr 1fr;
    grid-template-rows: 0.8fr 0.9fr 1.3fr;
    grid-auto-columns: 10fr 10fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    justify-content: space-evenly;
    grid-template-areas:
      "chocolate pochoclos"
      "cookies cafe"
      "cookies sandiaymelon"
      "chocolate milflores"
      "chocolate cookies";
    width: 73%;
    height: 73%;
    margin:0;
    padding:0
  }
  
  .pochoclos { grid-area: pochoclos; }
  
  .sandiaymelon { grid-area: sandiaymelon; }
  
  .cookies { grid-area: cookies; }
  
  .chocolate { grid-area: chocolate; }
  
  .cookies1 { grid-area: cookies1; }
  
  .cafe { grid-area: cafe; }
  
  .milflores1 { grid-area: milflores1; }
  
  .milflores { grid-area: milflores; }
  
  .chocolate1 { grid-area: chocolate1; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
section h3 {
    padding-top: 50px;
    text-align: center;
    font-size: x-large;
    margin:auto;
    margin-bottom: 50px;
}
section p {     
    font-family: 'Hurricane', cursive;
    text-align: center;
    font-size: medium;       
    margin: 50px;
}
/* Pagina taller*/

/*form talleres*/
fieldset legend{
    padding: 20px;
    font-size:xx-large;
    font-family:Arial, 'Helvetica', sans-serif ;
    font-style: italic;
    font-display:calc(10xp 5xp 100%); 
}
.container-fluid{
    text-align:center; 
    margin: auto;
}
#logo_talleres{    
    position:absolute; 
    display: flex;
   flex-direction: row-reverse;
    width: 50vw;
    filter: opacity(35%);
    -webkit-filter: opacity(35%);
}
video {
    padding: 50px;
    margin: 50px;
    max-width: 60w;
    max-height: 100vw;
   }

/*footer de paginas*/
footer{
   width: 100vw;
   margin-top: 100px;
   background-color: rgb(210 71 146 / 60%);
   background-size:cover;
   color: rgba(3, 0, 8, 0.63);        
}
footer ul{
    display: flex;     
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    width: 5fr;
    height: 5fr;
    justify-content: center;  
}
footer ul li{
    list-style-type: none;    
}
footer ul li a{
    text-decoration: none;    
}
footer ul li img {
    display: flex;  
    column-gap: 20px; 
    margin-top: 20px;
    width: 40px;     
}
.copyright{
    display:flex;  
    justify-content: center;
    align-items: center;
    column-gap: 10px;   
}
.transition-soft-slow {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.made_by{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;   
    text-align: center;
  }
/*galeria*/
.galeria-image {
    width: 100%; /* ver escritos de dimensiones */
    height: auto;
    line-height: 0;
    overflow: hidden;
  }
.galeriatitulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding-top: 10px;
    margin-top: 0;
  }
  /* hover estilos */
.galeria-listing {
    position: relative;
    top:auto;
  }
.galeria-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
.galeria-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    /*posiciondeltextoenelmedio*/
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.galeria-listing:hover .galeria-title {
    opacity: 1;
  }
.galeria-listing:hover .galeria-image img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
} 
.btnvermas{
  padding: 8px 15px;
  height: 30px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  background-color: rgb(231, 154, 231);

}
  /* otras vistas */
@media (hover: none) { 
    .galeria-title {
    opacity: 1;
    font-weight: bold;      
    z-index: 1;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    }
    .galeria-image img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    
}
  }
@media all and (max-width: 360px){
    main{
        grid-template-rows:repeat(6,2fr)
      /*  grid-template-columns: repeat(2,1fr);*/
    }
    .footer{
       display: flex;     
       flex-wrap: wrap;
       justify-content: flex-end;
       column-gap: 10px;
       width: 5fr;
       height: 5fr;
    }
    .section-card{
    transition: all 2s;   
    }
    .container{
     grid-template-columns: 1fr;
     grid-template-rows: 0.5fr 0.5fr 0.5fr;
     grid-template-areas: 
     "header"
     "main"
     "footer";
    }
  }
@media screen and (max-Widht: 480px){
    main{
        grid-template-rows:repeat(6,2fr) ;
      /*  grid-template-columns: repeat(2,1fr);*/
    }
    .section-card{
    transition: all 2s; 
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    form{
        width: 100%;
}
@media screen and (max-width: 425px) {
    *{
        font-size: 1em;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }        
}
@media screen and (max-Widht: 720px){
    main{
    grid-template-rows:repeat(6,2fr) ; 
    /*grid-template-columns: repeat(2,1fr);*/
    }
    footer{
       display: flex;     
       flex-wrap: wrap;
       justify-content: flex-end;
       column-gap: 10px;
       width: 5fr;
       height: 5fr;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       justify-items: center;
       align-items: center; 
    }
    .section-card{
    transition: all 2s; 
    }
    .section-card :hover img{
         align-content: flex-end;
    }
}
  @keyframes slidein{
    from {
      margin-left: 100%;
      width: 200%
    }
     to {
      margin-left: 0%;
      width: 100%;
    }
    75% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
      }
}
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 200%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
    75% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
    }
}}