*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: rgb(176, 206, 245);
}


header nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;  
    background-color: rgb(193, 197, 199);
    color: rgba(3, 0, 8, 0.63); 
    position: sticky;
    top:0; 
    z-index: 100;   
}
header nav ul li:hover{
    background-color: #2b649659; 
}
 
/*texto del navbar*/
header nav ul {
    display: flex;       
    justify-content: space-evenly;
    column-gap: 20px;
    margin-right: 20px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    
}
header nav img{   
   display:flex;
}
menu{  
    font-family:'Caveat', cursive;
    padding: 15px;
    text-decoration: none;
    background-color: rgb(226, 170, 170);
    font-size: 15px;    
    border: 10px;
    border-bottom: 1px solid rgb(196, 120, 120);  
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(248, 212, 212);
}

/*cambio de color de los links*/
a:any-link {
    border: none; 
}
a:-webkit-any-link {
    border: none;
}

/*estilo de imagen de header y texto*/
.header-image{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: rgb(145, 47, 236);
    background-image: url("../imagenes/backgroundHeader.jpg");
    background-size:cover;
    background-position-x: center;
    transition: all 2s;

}

/*texto de header*/
.titulo{
    animation-direction:normal;
    --animate-duration: 2s;
    animation-duration: 3s;
    animation-name:;
    
}


.header-image{
    animation-direction:normal;
    --animate-duration: 2s;
  }


.titulo1{
    color: hsl(204, 62%, 26%);
    text-shadow: 4px 4px 3px #77f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align:center;
    width: 100%; 
    text-justify: newspaper;
    font-weight:bold;
}
.titulo2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(204, 62%, 26%);
    text-shadow: 4px 4px 3px #77f;
    font-size: 20px;
    text-align:center;
    width: 100%; 
    text-justify: newspaper;
    font-weight:bold;
}

.logo img{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: auto;
    padding-bottom: 25px; 
    font-weight:bold;
    
}

main{
    width: 100vw;
    height: 100vw; 
    margin: auto;
    display: grid;
    grid-template-rows:repeat(1fr,1fr) ;
    grid-template-columns: repeat(1fr,1fr);
}

.titulo_Seccion{
    margin-top: 30px;
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(204, 62%, 26%);    
    font-size: 15px;
    text-align:center;
    width: 100%; 
    text-justify: newspaper;
    font-weight:bold;
    background-color: #cf32ba3a;
}

.section-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repat(3 , 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px , auto);  
    justify-content: center;
    transition: all 2s;
}

.section-card_title{
    grid-area: title;  
    color: rgba(14, 14, 85, 55%);  
        
}

.section-card_text{
    grid-area: texto;     
     
}
.section-card_image img{
    display: grid;
    grid-template-columns: 200px 1% 1fr;
    grid-template-rows: auto 15px auto 15 px auto;
    grid-column-start: 1;
    grid-column-end:4;
    grid-area: 
    section-card_title, section-card_title, section-card_title;

       
}
footer .container{
    display: grid;
    

}
.section-card_image img{
    width: 80vw;    
    grid-area: image;
    border-radius: 10px;
    border-style:solid;
    border-width: 7px;
    border-color: rgba(62, 199, 199, 0.432);
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.637));
    border-style: solid;
    border-width: 1px;
    display: block;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.section-card_image img :hover {
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
}
/*formulario de contacto*/
.header-nosotros{
    padding-top: 50px;
    background-image: url("../imagenes/backgroundHeader.jpg");
    background-size:cover;
    background-position-x: center; 
    text-align: center;   
    
}

.header-cel {  
    display:grid;
    margin: auto;
    width: 80%; 
    transition: all 2s;   
}
.header-cel img{
    margin:auto;
    margin-top: 50px;
    display: block;
    align-content: center;
    align-items: center;
    width: 50vw;
    filter: drop-shadow(-10px 10px 8px rgba(0, 0, 0, 0.432)); 
}

.contacto{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form label {
    margin: 5px;
    width: 70%;
    text-align: center;

}
input {
    width: 40%;
}
form fieldset {
    padding: 20px;
    margin-bottom: 30px;
    border:none;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
    text-align:left;
    background-color: rgba(255, 0, 191, 0.151);
}

form fieldset span{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    text-align: center;   
}

form textarea{
    width:auto;
    margin-bottom: 20px;
    align-content: 
}

form fieldset input[type=submit]{
    width: auto;
    align-content: center;
    column-gap: normal;
}

form fieldset input[type=button]{
    width: auto;
}


/*pagina nosotros*/
.header-nos{
    padding-top: 50px;
    background-image: url("../imagenes/backgroundHeader.jpg");
    background-size:cover;
    background-position-x: center; 
    text-align: center;  
}

body section.header-nos h3 {
    text-align: center;    
    margin: auto;
    font-size:xx-large;
    
}
section.header-nos p {
    margin: 20px;
    text-align: justify;
    font-size: medium;     
}

#logo_nosotros{
    width: 50vw;
    padding-bottom: 20px;
    filter: opacity(65%);
}

section iframe{
    display: block;
    margin: auto;
    text-align: center;
    width: 80vw;
    height: 50vh;
}
 video{
    width: 200vw;
     height: 200vw;    
     padding: 10%;
}
.container {  
    display: grid;
    grid-template-columns: 3fr 1.1fr 1fr;
    grid-template-rows: 0.8fr 0.9fr 1.3fr;
    grid-auto-columns: 10fr 10fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    justify-content: space-evenly;
    grid-template-areas:
      "chocolate pochoclos"
      "cookies cafe"
      "cookies sandiaymelon"
      "chocolate milflores"
      "chocolate cookies";
    width: 73%;
    height: 73%;
  }
  
  .pochoclos { grid-area: pochoclos; }
  
  .sandiaymelon { grid-area: sandiaymelon; }
  
  .cookies { grid-area: cookies; }
  
  .chocolate { grid-area: chocolate; }
  
  .cookies1 { grid-area: cookies1; }
  
  .cafe { grid-area: cafe; }
  
  .milflores1 { grid-area: milflores1; }
  
  .milflores { grid-area: milflores; }
  
  .chocolate1 { grid-area: chocolate1; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
section h3 {
    padding-top: 50px;
    text-align: center;
    font-size: x-large;
    margin:auto;
    margin-bottom: 50px;
}

section p {     
    font-family: 'Hurricane', cursive;
    text-align: center;
    font-size: medium;       
    margin: 50px;
}
/*form talleres*/
fieldset legend{
    padding: 20px;
    
    font-size:xx-large;
    font-family:Arial, 'Helvetica', sans-serif ;
    font-style: italic;
    font-display:calc(10xp 5xp 100%);
    
    
    
}
/*footer de paginas*/
footer{
   width: 100vw;
   margin-top: 100px;
   background-color: rgb(111, 92, 165);
   background-size:cover;
   color: rgba(3, 0, 8, 0.63);        
}

footer  ul {
    display: flex;     
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    width: 5fr;
    height: 5fr;
    justify-content: center;
    
}
footer  ul li{
    list-style-type: none;    
}

footer ul li a{
    text-decoration: none;    
}

footer ul li img {
    display: flex;  
    column-gap: 20px; 
    margin-top: 20px;
    width: 40px;     
}

.copyright{
    display:flex;  
    justify-content: center;
    align-items: center;
    column-gap: 10px;   
}
.transition-soft-slow {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


.made_by{

    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;   
    text-align: center;
  }

/*galeria*/
img {
    width: 100%; /* ver escritos de dimensiones */
    height: auto;
  }
.galeriatitulo {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
  /* hover estilos */
  .galeria-listing {
    position: relative;
  }
  
  .galeria-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .galeria-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .galeria-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* posicion del texto en el medio*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .galeria-listing:hover .galeria-title {
    opacity: 1;
  }
  
  .galeria-listing:hover .galeria-image img {
    filter: blur(2px);
  }
  
  
  /* otras vistas */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }

@media screen and (max-width: 360px){
    main{
        grid-template-rows:repeat(6,2fr) ;
      /*  grid-template-columns: repeat(2,1fr);*/

    }
    .footer{
       display: flex;     
       flex-wrap: wrap;
       justify-content: flex-end;
       column-gap: 10px;
       width: 5fr;
       height: 5fr;
    }

    .section-card{
    transition: all 2s; 
    
    }
    .container{
     grid-template-columns: 1fr;
     grid-template-rows: 0.5fr 0.5fr 0.5fr;
     grid-template-areas: 
     "header"
     "main"
     "footer";
    }
  }
@media screen and (max-Widht: 480px){
    main{
        grid-template-rows:repeat(6,2fr) ;
      /*  grid-template-columns: repeat(2,1fr);*/

    }
    .section-card{
    transition: all 2s; 
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
}

@media screen and (max-width: 425px) {

    *{
        font-size: 1em;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
}

@media screen and (max-Widht: 720px){

    main{
        grid-template-rows:repeat(6,2fr) ;
      /*  grid-template-columns: repeat(2,1fr);*/

    }
    footer{
       display: flex;     
       flex-wrap: wrap;
       justify-content: flex-end;
       column-gap: 10px;
       width: 5fr;
       height: 5fr;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       justify-items: center;
       align-items: center; 
    }

    .section-card{
    transition: all 2s; 
    }
}

  @keyframes slidein{
    from {
      margin-left: 100%;
      width: 200%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    75% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
      }
}

@keyframes slidein{
    from {
      margin-left: 100%;
      width: 200%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
    75% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
    }
}